@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*Fonts*/
$poppins: "Poppins", sans-serif;
/*weights*/
$weight-200: 200;
$weight-400: 400;
$weight-600: 600;

/*Colors*/
/*Primary*/
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);
/*Neutral*/
$grey-500: hsl(234, 12%, 34%);
$grey-400: hsl(212, 6%, 44%);
$white: hsl(0, 0%, 100%);

@mixin border ($border: $cyan) {
  border-top: 4px solid $border;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding: clamp(1.5rem, 5vw, 2rem);

  display: grid;
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  align-items: center;
  
  font-family: $poppins;
  font-size: 15px; /*Tamanho base de fonte*/
  color: $grey-400;
}

header {
  margin-bottom: 4rem;
  width: clamp(16rem, 80vw, 34rem);

  text-align: center;
  justify-self: center;

  h1 {
    font-size: clamp(1.4rem, 5vw, 2rem);
    margin-bottom: 1rem;
  }

  p {
    font-size: clamp(0.5rem, 3.9vw, 1rem);
  }
}

main {
  margin-bottom: 1rem;
  display: grid;
  grid-template-rows: repeat(4, auto);
  justify-content: center;
  align-items: center;
  gap: 2rem;

  @media (min-width: 42.25rem) { /*Tablet*/
    grid-template-columns: 2fr;

    .team-builder {
      grid-column: 2;
    }

    .karma {
      grid-column: 1;
      grid-row: 2;
    }
  }

  @media (min-width: 64.188rem){ /*Desktop*/
    grid-template-columns: 3fr;

    .supervisor{
      grid-row: 1/3;
    }

    .team-builder {
      grid-column: 2;
      grid-row: 1;
    }

    .karma {
      grid-column: 2;
      grid-row: 2;
    }

    .calculator{
      grid-column: 3;
      grid-row: 1/3;
    }
  }

  .supervisor {@include border;}
  .team-builder{@include border($border: $red);}
  .karma{@include border($border: $orange);}
  .calculator{@include border($border: $blue)}
}

section {
  width: clamp(20rem, 30vw, 23rem);
  padding: clamp(1.4rem, 8vw, 2rem);
  border-radius: 0.6rem;
  box-shadow: 0px 5px 10px #DFE5F6;

  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 0.4rem;

  h2 {
    font-size: clamp(1.15rem, 4vw, 1.2rem);
  }

  p {
    font-size: clamp(0.78rem, 1vw, 1rem);
  }

  .image {
    margin-top: 1.7rem;
    justify-self: end;
  }
}

.attribution {
  font-size: 0.6rem;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}
